
ICSignal.xcodeproj/xcuserdata/_ivanc.xcuserdatad/xcschemes/xcschememanagement.plist

ICSignal.xcodeproj/xcuserdata/_ivanc.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

ICSignal.xcodeproj/xcuserdata/_ivanc.xcuserdatad/xcschemes/ICSignal.xcscheme

ICSignal.xcodeproj/project.xcworkspace/xcuserdata/_ivanc.xcuserdatad/UserInterfaceState.xcuserstate
